<h3 class="page-header">EDUCATION</h3>
<ul class="col-sm-12">
  <li class="col-sm-6">
    <h4> Bachelors of Economics:</h4>
    <span> Sagrada Familia college</span>
    <span> Mar del Plata</span>
    <span> March 2006 - December 2008</span>
  </li>
  <li class="col-sm-6">
    <h4> Systems Engineering:</h4>
    <span> University of Exact Sciences, UNICEN</span>
    <span> Tandil</span>
    <span> March 2009 - Present</span>
  </li>
</ul>
