<div class="education">
  <h1 class="page-header">EDUCATION</h1>
  <div class="content">
    <ul>
      <li class="col-md-4">
        <h1> Bachelors of Economics:</h1>
        <span> Sagrada Familia college</span>
        <span> Mar del Plata</span>
        <span> March 2006 - December 2008</span>
      </li>
      <li class="col-md-4">
        <h1> Systems Engineering:</h1>
        <span> University of Exact Sciences, UNICEN</span>
        <span> Tandil</span>
        <span> March 2009 - Present</span>
      </li>
    </ul>
  </div>
</div>