<div class="works">
  <h1 class="page-header">WORKS</h1>
  <div class="content">
    <ul>
      <li class="col-md-6">
        <span>Front-End Developer at Globant</span>
        <span>February 2013 - May 2014</span>
        <img src="images/globant.png" class="globant">
      </li>
      <li class="col-md-6"> 
        <span>Front-End Developer at Summa Solutions</span>
        <span>May 2014 - December 2014</span>
        <img src="images/summa.png" class="summa">
      </li>
    </ul>
  </div>
</div>