<h3 class="page-header">WORKS</h3>
<div>
  <ul>
    <li class="col-sm-6">
      <img src="images/globant.png">
      <span>Front-End Developer at Globant</span>
      <span>February 2013 - May 2014</span>
    </li>
    <li class="col-sm-6">
      <img src="images/summa.png">
      <span>Front-End Developer at Summa Solutions</span>
      <span>May 2014 - December 2014</span>
    </li>
  </ul>
</div>
