<ul class="jobs__list">
  <li class="jobs__job">
    <div class="jobs__company">
      <img class="jobs__company-img" src="images/globant.png">
    </div>
    <div class="jobs__job-info">
      <span>Front-End Developer at Globant</span>
      <span>February 2013 - May 2014</span>
      <span>January 2015 - Present</span>
    </div>
  </li>
  <li class="jobs__job">
    <div class="jobs__company">
      <img class="jobs__company-img" src="images/summa.png">
    </div>
    <div class="jobs__job-info">
      <span>Front-End Developer at Summa Solutions</span>
      <span>May 2014 - December 2014</span>
    </div>
  </li>
</ul>
