.personal {
    ul li {
        margin: 20px 0;
    }

    .img-thumbnail {
        width: 20.220681%;
        float: left;
        background: transparent;
        border: none;
        border-radius: 100%;
    }
}