<div class="personal">
  <h1 class="page-header">PERSONAL INFO</h1>
  <div class="content">
    <img src="images/matias.jpg" class="img-thumbnail" />
    <ul class="col-md-4">
      <li> Name: Matías Marcelo Calvo</li>
      <li> Date of Birth: 05/18/1991</li>
      <li> Age: 24</li>
    </ul>
    <ul class="col-md-4">
      <li> Country: Argentina</li>
      <li> Place Of Birth: Mar Del Plata</li>
      <li> Actual City: Tandil</li>
    </ul>
  </div>
</div>