<img src="images/matias.jpg" class="img-thumbnail" />
<ul class="col-sm-4">
  <li> Name: Matías Marcelo Calvo</li>
  <li> Birthdate: 05/18/1991</li>
  <li> Age: 24</li>
</ul>
<ul class="col-sm-5">
  <li> Country: Argentina</li>
  <li> Place Of Birth: Mar Del Plata</li>
  <li> Actual City: Tandil</li>
  <li> Email: mati.calvo.salsa@gmail.com</li>
</ul>
