.skills a {
    color: #FFFFFF;
    font-size: 20px;
}

.skills a:hover {
    text-decoration: none;
}

.skills .logo-thumbnail {
    width: 10%;
}

.skills .panel-heading {
    padding: 5px 15px;
    color: #CFD2DA;
    background-color: #1E2127;
}

.skills .panel-collapse {
    background-color: #434857;
}

.skills .glyphicon {
    margin-right: 5px;
    color: #1BC98E;
}