<div class="skills">
  <h1 class="page-header">SKILLS</h1>
  <div class="content">
    <ul>
      <li class="stats">
        <input type="text" value="80" class="dial">
        <h3>CSS</h3>
      </li>
      <li class="stats">
        <input type="text" value="85" class="dial">
        <h3>HTML</h3>
      </li>
      <li class="stats">
        <input type="text" value="60" class="dial">
        <h3>JAVASCRIPT</h3>
      </li>
      <li class="stats">
        <input type="text" value="40" class="dial">
        <h3>RequireJS</h3>
      </li>
      <li class="stats">
        <input type="text" value="70" class="dial">
        <h3>jQuery</h3>
      </li>
      <li class="stats">
        <input type="text" value="40" class="dial">
        <h3>Backbone</h3>
      </li>
      <li class="stats">
        <input type="text" value="40" class="dial">
        <h3>Underscore</h3>
      </li>
      <li class="stats">
        <input type="text" value="75" class="dial">
        <h3>Bootstrap</h3>
      </li>

    <li> * Programming Languages (C, C++, Pascal, Javascript)</li>

    <li> * Web Development Knowledge:
      <ul>
        <li>• AJAX technologies.</li>
        <li>• Responsive WEB Design.</li>
        <li>• HTML4 / HTML5.</li>
        <li>• CSS3 intermediate/advanced.</li>
        <li>• Use of Sass and Compass.</li>
        <li>• Frameworks used: jQuery/Zepto, Backbone, RequireJS, Bootstrap, Underscore, among others.</li>
        <li>• Básic use of WebGL.</li>
        <li>• Mobile applications development (android, IOS).</li>
        <li>• Use of development platforms like WAMP or XAMPP.</li>
        <li>• Use of version control systems like SVN and Perforce.</li>
      </ul>
    </li>

    <li>* knowledge of Corel and Photoshop</li>

    <li>* Languages:
      <ul>
        <li>• Spanish: Native.</li>
        <li>• English: intermediate.</li>
        <li>• Italian: intermediate.</li>
      </ul>
    </li>

    <li>* Demonstrations:
      <ul>
        <li>
          <a href="http://cssdeck.com/labs/full-css-homer" target="_blank">• Homer Simpson made with only css </a>
          <img src="images/homer.png" class="homer">
        </li>
      </ul>
    </li>

    </ul>
  </div>
</div>