<section class="col-sm-12">
  <h4>Programming Languages</h4>
  <ul class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <li class="panel panel-default">
      <div class="panel-heading collapsed" role="button" id="heading-1" data-toggle="collapse"
        data-parent="#accordion" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
        <h5>JAVASCRIPT</h5>
      </div>
      <div id="collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
        <img src="images/javascript.png" class="logo-thumbnail">
        <span>ESTO ES JAVASCRIPT</span>
      </div>
    </li>
    <li class="panel panel-default">
      <div class="panel-heading collapsed" role="button" id="heading-2" data-toggle="collapse"
        data-parent="#accordion" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
        <h5>PHP</h5>
      </div>
      <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
        <img src="images/php.png" class="logo-thumbnail">
        <span>ESTO ES PHP</span>
      </div>
    </li>
    <li class="panel panel-default">
      <div class="panel-heading collapsed" role="button" id="heading-3" data-toggle="collapse"
        data-parent="#accordion" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
        <h5>JAVA</h5>
      </div>
      <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
        <img src="images/java.png" class="logo-thumbnail">
        <span>ESTO ES JAVA</span>
      </div>
    </li>
    <li class="panel panel-default">
      <div class="panel-heading collapsed" role="button" id="heading-4" data-toggle="collapse"
        data-parent="#accordion" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
        <h5>C++</h5>
      </div>
      <div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
        <img src="images/c++.png" class="logo-thumbnail">
        <span>ESTO ES C++</span>
      </div>
    </li>
  </ul>
</section>

<section class="col-sm-12">
  <h4>WEB Skills</h4>
  <ul class="col-sm-6">
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      HTML
    </li>
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      CSS
    </li>
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      HTML templates engine
    </li>
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      CSS preprocessors
    </li>
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Object-Oriented CSS
    </li>
  </ul>
  <ul class="col-sm-6">
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      AJAX technologies
    </li>
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Restful APIs
    </li>
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      WebGL API
    </li>
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      Node.js
    </li>
    <li>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      ES6
    </li>
  </ul>
</section>

<section class="col-sm-12">
  <h4>Frameworks, Libraries & Tools</h4>
  <ul class="col-sm-12">
    <li class="col-sm-4">
      <a target="_blank" href="http://emberjs.com/">
        <img src="images/ember.png" class="logo-thumbnail">
        Ember
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="https://facebook.github.io/react/">
        <img src="images/react.png" class="logo-thumbnail">
        React
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="https://angularjs.org/">
        <img src="images/angular.ico" class="logo-thumbnail">
        Angular
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://backbonejs.org/">
        <img src="images/backbone.png" class="logo-thumbnail">
        Backbone
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://underscorejs.org/">
        <img src="images/underscore.png" class="logo-thumbnail">
        Underscore
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="https://mustache.github.io/">
        <img src="images/mustache.png" class="logo-thumbnail">
        Mustache
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://handlebarsjs.com/">
        <img src="images/handlebars.png" class="logo-thumbnail">
        Handlebars
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="https://jquery.com/">
        <img src="images/jquery.png" class="logo-thumbnail">
        JQuery
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://requirejs.org/">
        <img src="images/requirejs.png" class="logo-thumbnail">
        RequireJS
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://rackt.org/redux/">Redux</a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://getbootstrap.com/">
        <img src="images/bootstrap.png" class="logo-thumbnail">
        Bootstrap
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://www.babylonjs.com/">
        <img src="images/babylonjs.png" class="logo-thumbnail">
        Babylon
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://ionic.io/">
        <img src="images/ionic.png" class="logo-thumbnail">
        Ionic
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="https://nodejs.org/en/">
        <img src="images/nodejs.png" class="logo-thumbnail">
        Node
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://sailsjs.org/">
        <img src="images/sailsjs.png" class="logo-thumbnail">
        Sails
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="https://babeljs.io/">
        <img src="images/babeljs.png" class="logo-thumbnail">
        Babel
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://gruntjs.com/">
        <img src="images/gruntjs.png" class="logo-thumbnail">
        Grunt
      </a>
    </li>
    <li class="col-sm-4">
      <a target="_blank" href="http://bower.io/">
        <img src="images/bower.png" class="logo-thumbnail">
        Bower
      </a>
    </li>
  </ul>
</section>

  <!--li> * Web Development Knowledge:
    <ul>
      <li>• Use of version control systems like SVN and Perforce.</li>
    </ul>
  </li-->

  <!--li>* Languages:
    <ul>
      <li>• Spanish: Native.</li>
      <li>• English: intermediate.</li>
      <li>• Italian: intermediate.</li>
    </ul>
  </li-->
