<ul class="skills__list">
  <li class="skills__languages">
    <h3 class="skills__subtitle">Programming Languages</h3>
    <ul>
      <li class="col-sm-3">
        <img src="images/javascript.png" class="skills__languages-img img-thumbnail">
      </li>
      <li class="col-sm-3">
        <img src="images/php.png" class="skills__languages-img img-thumbnail">
      </li>
      <li class="col-sm-3">
        <img src="images/java.png" class="skills__languages-img img-thumbnail">
      </li>
      <li class="col-sm-3">
        <img src="images/c++.png" class="skills__languages-img img-thumbnail">
      </li>
    </ul>
  </li>

  <li class="skills__web">
    <h3 class="skills__subtitle">WEB Skills</h3>
    <ul class="col-sm-6">
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        HTML
      </li>
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        CSS
      </li>
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        HTML templates engine
      </li>
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        CSS preprocessors
      </li>
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Object-Oriented CSS
      </li>
    </ul>
    <ul class="col-sm-6">
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        AJAX technologies
      </li>
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Restful APIs
      </li>
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        WebGL API
      </li>
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Node.js
      </li>
      <li>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        ES6
      </li>
    </ul>
  </li>

  <li class="skills__complements">
    <h3 class="skills__subtitle">Frameworks, Libraries & Tools</h3>
    <ul class="col-sm-12">
      <li class="col-sm-4">
        <a target="_blank" href="http://emberjs.com/">
          <img src="images/ember.png" class="logo-thumbnail">
          <span>Ember</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="https://facebook.github.io/react/">
          <img src="images/react.png" class="logo-thumbnail">
          <span>React</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="https://angularjs.org/">
          <img src="images/angular.ico" class="logo-thumbnail">
          <span>Angular</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://backbonejs.org/">
          <img src="images/backbone.png" class="logo-thumbnail">
          <span>Backbone</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://underscorejs.org/">
          <img src="images/underscore.png" class="logo-thumbnail">
          <span>Underscore</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="https://mustache.github.io/">
          <img src="images/mustache.png" class="logo-thumbnail">
          <span>Mustache</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://handlebarsjs.com/">
          <img src="images/handlebars.png" class="logo-thumbnail">
          <span>Handlebars</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="https://jquery.com/">
          <img src="images/jquery.png" class="logo-thumbnail">
          <span>JQuery</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://requirejs.org/">
          <img src="images/requirejs.png" class="logo-thumbnail">
          <span>RequireJS</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://redux.js.org/">
          <img src="images/redux.ico" class="logo-thumbnail">
          <span>Redux</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://getbootstrap.com/">
          <img src="images/bootstrap.png" class="logo-thumbnail">
          <span>Bootstrap</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://www.babylonjs.com/">
          <img src="images/babylonjs.png" class="logo-thumbnail">
          <span>Babylon</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://ionic.io/">
          <img src="images/ionic.png" class="logo-thumbnail">
          <span>Ionic</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="https://nodejs.org/en/">
          <img src="images/nodejs.png" class="logo-thumbnail">
          <span>Node</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://sailsjs.org/">
          <img src="images/sailsjs.png" class="logo-thumbnail">
          <span>Sails</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="https://babeljs.io/">
          <img src="images/babeljs.png" class="logo-thumbnail">
          <span>Babel</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://gruntjs.com/">
          <img src="images/gruntjs.png" class="logo-thumbnail">
          <span>Grunt</span>
        </a>
      </li>
      <li class="col-sm-4">
        <a target="_blank" href="http://bower.io/">
          <img src="images/bower.png" class="logo-thumbnail">
          <span>Bower</span>
        </a>
      </li>
    </ul>
  </li>
</ul>

  <!--li> * Web Development Knowledge:
    <ul>
      <li>• Use of version control systems like SVN and Perforce.</li>
    </ul>
  </li-->

  <!--li>* Languages:
    <ul>
      <li>• Spanish: Native.</li>
      <li>• English: intermediate.</li>
      <li>• Italian: intermediate.</li>
    </ul>
  </li-->
